* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background-color: red;
    color: white;
    margin-bottom: 15px;
}

.container{
    margin: 5px;
    width: 380px;
    height: 250px;
    border: 2px solid black;
    background-image: url(img/silvio.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}