* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background-color: red;
    color: white;
    margin-bottom: 15px;
}

.container{
    margin: 5px;
    width: 380px;
    height: 250px;
    border: 2px solid black;
    background-image: url(img/silvio.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}


.customer{
    border: 1px solid red;
    width: 250px;
    height: 250px;
}

.nome{
    color: red;
    font-weight: bold;
}

button {
    margin:5px;
    background-color: white;
    border: 2px solid red;
    border-radius: 8px;
    padding: 6px;
}

button a {
    text-decoration: none;
    color:red;
    text-transform: uppercase;
}

button:hover {
    background-color: red;
}

button a:hover{
    color:white;
    font-weight: bold;

}